PORT=8080

DATABASE_URL=postgres://endgit:endgit@localhost:5432/endgit?sslmode=disable

# use when DATABASE_URL is empty
# DB_DRIVER=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=endgit
# DB_PASSWORD=endgit
# DB_NAME=endgit
# DB_SSLMODE=disable

# Auto-create/update DB schema on startup
DB_AUTO_MIGRATE=true
